html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    margin-left: 80px;
    background-color: whitesmoke;
}

#app.shifted {
    margin-left: 250px;
}

main {
    flex: 1;
    flex-shrink: 0;
}

.footer {
    flex-shrink: 0;
}

.sidebar {
    width: 250px;
    background-color: #0F3489;
    flex-shrink: 0;
}

.sidebar:collapsed {
    width: 80px;
}

.main-sidebar{
    background-color: #0F3489;
}

.list-item{
    color: white;
}
.active{
    color: white;
    background-color: orange;
}
.list-item a:hover{
    color: white;
    background-color: orange;
}

.test-title{
    font-size: 20px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.list-menu li{
    color: white;
}

#userList_title{
    font-size: 30px;
    margin-left: 20px;
}

#userList_table{
    background-color: white;
}

#userList_table th{
    background-color: #0F3489;
    color: white;
}

select[name=userList_table_length]{
    width: 60px;
}

#userList_table_container{
    background-color: white;
    padding: 20px;
    border: 1px ridge rgb(182, 182, 182);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#userList_btnGroup{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#userList_btnGroup button{
    background-color: #0F3489;
    color:white;
    width: 110px;
}

.modal-header{
    background-color: #0F3489 !important;
    color:white !important;
}
.close{
    color:white !important;
}

#festList_title{
    font-size: 30px;
    margin-left: 20px;
}

#festList_table{
    background-color: white;
}

#festList_table th{
    background-color: #0F3489;
    color: white;
}

select[name=festList_table_length]{
    width: 60px;
}

#festList_table_container{
    background-color: white;
    padding: 20px;
    border: 1px ridge rgb(182, 182, 182);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#festList_btnGroup{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#festList_btnGroup button{
    background-color: #0F3489;
    color:white;
    width: 110px;
}

.event-window-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#colorOfEvent{
    margin-right: 10px;
}